* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 3vmin;
  background-color: rgb(33, 41, 38);
  overflow: hidden;
}

.library {
  font-size: 10vmin;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffcc20;
  margin-top: 0;
  margin-bottom: 2rem;
  text-shadow: -5px 5px 1px rgba(0, 0, 0, 1);
}

.btn {
  /* width: 1.5em; */
  height: 1.5em;
  color: white;
  font-size: 3vmin;
  font-weight: 600;
  border-style: none;
  background-color: rgb(167, 100, 24);
  margin: 1em;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  border-radius: 5%;
}

.add-book {
  display: block;
  width: 1.5em;
  height: 1.5em;
  color: green;
  font-size: 10vmin;
  font-weight: 900;
  margin: 2rem auto;
  border-radius: 50%;
  border-style: none;
}

.form-overlay {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 10px;
  background-color: rgba(33, 41, 38, 0.8);
  z-index: 2;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;
}

.form-overlay.active {
  display: flex;
}

.prompt {
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(114, 216, 177);
  /* height: 50%; */
  /* width: 50vmin; */
  transition: all 0.5s ease-in-out;
  border-radius: 5%;
}

.form input[type="text"] {
  width: 75%;
  display: block;
  box-sizing: border-box;
  font-size: 3vmin;
  padding: 10px;
  margin: auto;
  background: rgba(255, 255, 255, 0.5);
}

.form input[type="radio"] {
  /* width:  */
  font-size: 2vmin;
  visibility: hidden;
}

#submit {
  margin: 5px 0;
}

.book-display {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 25vh; */
}

.book-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  width: 50%;
  height: 10%;
  padding: 0.5em;
  margin: 0.5px;
  border: 1px solid rgba(0, 0, 200, 0.8);
  /* transition: background-color 1s ease-in, height 1s ease-in; */
  transition: all 0.5s ease-in-out;
  border-radius: 0.5em;
  background-color: rgb(142, 13, 9);
}

.expand {
  position: absolute;
  flex-direction: row;
  top: 50%;
  color: #ffcc20;
  width: 60vmin;
  height: 45vmin;
  font-size: 4vmin;
  /* background-color: rgb(142, 13, 9); */
  background-image: url(./cover-texture.jpg);
  /* background-size: cover; */
  transform: rotate3d(0, 0, 1, 90deg);
  z-index: 1;
}

.expand div {
  transform: rotate3d(0, 0, 1, -90deg);
}

.book-card > *:last-child {
  /* transform: translateX(100%); */
  display: none;
}
.expand > *:last-child {
  display: block;
}

.book-card:not(.expand) {
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.4);
}
